<div class="container container_pos">
  <h1 class="container__maintitle">{{ title | titlecase }}</h1>
  <div class="container__post
              container__post-pos
              container__post-deco">
    <div class="container__post__div
                container__post__div_pos
                container__post__div_deco">
      <div class="container__post__div__post-title
                  container__post__div__post-title_pos
                  container__post__div__post-title_deco">
        Mon premier post
      </div>
      <div class="container__post__div__post-date
                  container__post__div__post-date_pos
                  container__post__div__post-date_deco">
        10/24/2017, 11:00 AM
      </div>
    </div>
    <p class="container__post__para container__post__para_deco">
      Novitates autem si spem adferunt, ut tamquam in herbis non fallacibus fructus appareat, non sunt
      illae quidem repudiandae, vetustas tamen suo loco conservanda.
    </p>
    <button type="submit" class="btn-default btn-green">Love it !</button>
    <button type="submit" class="btn-default btn-red">Don't love it !</button>
  </div>
</div>
